@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  font-family: "open sans",serif;
  text-align: center;
}

#tree li {
  display: block;
  border: 2px solid rgb(0, 0, 0);
  padding: 0.5rem;
  cursor: pointer;
  margin-bottom: 0.5em;
  border-radius: 12px;
}
#tree li:hover {
  background-color: #fafafa;
}
#tree ul ul {
  display: none;
}
#tree h3, #tree h4 {
  margin: 0;
  padding: 1em;
}

.back {
  font-weight: bold;
  border-radius: 100px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-transform: uppercase;
  font-size: 0.75em;
  padding: 0.4em;
}

.selectedAnswer > ul {
  display: block !important;
}
.notSelected {
  display: none !important;
  opacity: 0.5;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

p{
  font: 1.5em sans-serif;
  font-weight: bold;
}

.answer_color{
  color: green;
}

.answer_color_non{
  color: red;
}